* {
	margin:0;
	padding:0;
}
body  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
	color: #ffffff;
}
a {
	color:#2aeaec;
	font-size:12px;
	text-decoration:underline;
}
a:hover {
	color:#2aeaec;
	font-size:12px;
	text-decoration:none;
}
.logo {
	color:#2aeaec;
	font-size:60px;
	font-style:italic;
}
.author {
    color:#2aeaec;
    font-style: italic;
}
h1 {
	color:#2aeaec;
	font-size:18px;
	font-weight:bold;
}
.bookLeft {
	float:left;
}

.bookRight {
	float:right;
}
.bookCenter {
	margin:0 220px;
	height:292px;
	color:#0c8384;
}
#container { 
	width: 800px;  
	margin: 0 auto;
	min-height:668px; 
}
.booksCategory {
	float:left;
	width:200px;
	background:#131313;
	padding:10px;
} 
.booksCategory li {
	list-style:none;
	background:url(images/p.png) no-repeat left 2px;
	padding-left:20px;
	margin:8px 0;
}
.booksShop {
	margin-left:250px;
}
.bookShop {
	float:left;
	padding:0 0 10px 0;
	width:230px;
}
#header { 
}
.mainContent {
	background:#0c8384;
	padding:40px;
	margin:30px 0 0 0;
        background-image: url('images/books.jpg');
}
#footer {
	padding:20px 0;
	text-align:center;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
/*MAIN MENU*/
#navcontainer {
        background-color:  #2aeaec;
	padding:10px 0 70px 0;
}
#navcontainer ul {
	padding-left: 0;
	margin-left: 0;
	background: url(images/menuBackground.jpg) repeat-x left top;
	color: White;
	float: left;
	width: 100%;
	height:51px;
}
#navcontainer ul li { 
	display: inline;
	color:#5f9608;
}
#navcontainer ul li a {
	padding:12px 31px 0 30px;
	background: url(images/menuBackground.jpg) repeat-x left top;
	color: #098586;
	text-decoration: none;
	float: left;
	font-size:24px;
}
#navcontainer ul li a:hover {
	background: url(images/menuActive.png) repeat-x left top;
	color: #fff;
	height:51px;
}
#navcontainer #active a {
	background: url(images/menuActive.png) repeat-x left top;
	color: #fff;
	height:51px;
}